---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: maven
inputs:
  - name: repo-ci
#  - name: <dependent repo>
outputs:
  - name: output
run:
  path: bash
  args:
    - repo-ci/ci/tasks/build.sh
params:
  _JAVA_OPTIONS: -Djava.security.egd=file:/dev/./urandom